*.class

# Compilation files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Folders #
.settings
servicesTest

# Eclipse bloat #
.project
bin/*
.classpath

# LaTeX stuff #
*.aux
*.txt
*.gz
*.pdf
*.log

